<div class="header-wrapper hidden-xs" ng-init="getallCompanyData()">
  <img class="logo" src="../../assets/images/logo_new_color_img.png">
  <h1 class="create-profile-title">Create Profile</h1>
</div>

<div class="header-wrapper-xs visible-xs" ng-init="getallCompanyData()">
  <img class="logo center-block" src="../../assets/images/logo_new_color_img.png">
  <h1 class="create-profile-title-xs text-center">Create Profile</h1>
</div>

<div class="col-md-4 hidden-xs">
  <img src="../../assets/images/profile_img.png" class="add-image-img">
</div>

<div class="col-xs-12 visible-xs">
  <img src="../../assets/images/profile_img.png" class="add-image-img-xs center-block">
</div>

<div class="col-md-8 col-xs-12 margin-left-xs form-wrapper" style="width: 30vw;">
  <form class="login-form" ng-submit='postDetails()'>

    <div class="form-group">
      <label for="{{first">Your first name</label>
      <input type="text" class="form-control" ng-model='$root.user.firstName' name="first" required minlength="3">
    </div>

    <div class="form-group">
      <label for="{{last">Your last name</label>
      <input type="text" class="form-control" ng-model='$root.user.lastName' name="last" required minlength="3">
    </div>

    <div class="form-group">
      <label for="{{role">Current role</label>
      <input type="text" class="form-control" ng-model='$root.user.currentRole' name="role" required minlength="3">
    </div>

    <div class="form-group">
      <label for="{{location2">Location</label>
      <input type="text" class="form-control" ng-model='$root.user.location' name="location2" required minlength="3">
    </div>


    <h3 class="experience-title">Work Experience</h3>

    <div style="margin-bottom:70px;" ng-repeat ="experience in $root.user.experiences track by $index">
      <br>
      <div class="form-group">
        <label for="{{'job' + $index}}">Job Title</label>
        <input type="text" class="form-control" ng-model='experience.jobTitle' name="{{'job' + $index}}">
      </div>

      <div class="form-group">
        <label for="{{'company' + $index}}">Company</label>
        <angucomplete-alt id="{{'autoname'+$index}}"
                          pause="5"
                          selected-object="experience.selectedCompany"
                          local-data="companies"
                          search-fields="name"
                          title-field="name"
                          minlength="1"
                          input-class="form-control form-control-small"
                          override-suggestions="true"/>
        <!--<input type="text" class="form-control" ng-model='experience.companyName' name="{{'company' + $index}}">-->
      </div>

      <div class="form-group">
        <label for="{{'location' + $index}}">Location</label>
        <input type="text" class="form-control" ng-model='experience.location' name="{{'location' + $index}}">
      </div>

      <div class="form-group">
        <label for="{{'desc' + $index}}">Description</label>
        <textarea type="text" class="form-control" ng-model='experience.desc' name="{{'desc' + $index}}"></textarea>
      </div>

      <div class="datepickers-wrapper">
        <div class="form-group">
          <label for="{{'datefrom' + $index}}">From</label><br>
          <input type="text" class="datepicker" ng-model='experience.dateFrom' name="{{'datefrom' + $index}}"/>
        </div>

        <div class="form-group">
          <label for="{{'dateto' + $index}}">To</label><br>
          <input type="text" class="datepicker" ng-model='experience.dateTo' name="{{'dateto' + $index}}"/>
        </div>
      </div>
      
      <button ng-click="addExperience()" class="btn btn-primary btn-outline" type="button">Add +</button>
    </div>
    

    <button type="submit" class="btn btn-primary btn-outline last-element" style="margin-bottom: 100px">Continue</button>
  </form>
</div>